/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
body .navbar-fixed-top {height: auto;}

body .navbar-brand{width: 10rem}
section#dnk{	margin-top: 50px; height: 110vh }
section#dnk .col-md-8 { padding: 0 0 0 5%; }
section#dnk .col-md-8 a.btn {width: 45%; font-size: 1rem;}
section#dnk h1 {font-size: 3rem ;}


}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}