$mc: #399ed4
$mc2: white
$mccol: #464547
$mcbut: #7f993a

body
	font-size: 100%
	background-color: $mc
	.navbar-fixed-top
		height: 100px
		padding: 1% 0 1% 0
	.navbar-brand
		width: 50rem
		text-align: center
	svg
		width: 100px
	.navbar-nav
		letter-spacing: -2px
	
	.navbar-default
		.navbar-nav li a
			font-size: 2rem
			text-transform: uppercase
			font-weight: 500
			color: black	
		.navbar-nav:first-child li a:hover
			color: $mc
section
	margin-right: -15px
	margin-left: -15px
	//border: 1px solid red
	height: 100vh
	position: relative
	padding: 10% 0 15% 0
	.row
		margin-left: 0.001em
		margin-right: 0.001em
		
		


section#dnk
	background-image: url(../img/bg.png)
	margin-top: 100px
	.col-md-8
		padding: 0 20% 0 2%
		color: $mc2
		
		a.btn
			width: 45%
			height: 10vh
			background-color: $mcbut
			font-size: 2rem
			text-transform: uppercase
			padding: 4% 0 3% 0
			color: $mc2
			margin-top: 10%
			font-weight: 700
			border-radius: 0
		a.btn:last-child
			float: right
		a:hover
			background-color:	#a3c644
	.col-md-4
		padding: 0	
	h1
		font-size: 6rem
		margin-bottom: 5%	
	p
		font-size: 2.2rem
		padding: 0 10% 0 0
		.glyphicon
			margin-left: 5%
	.col-md-4
		padding: 0
		//color: rgba(255,255,255,.8)
		.adve
			background-color: rgba(255,255,255,.8)
			padding: 5% 10% 10% 10%
			text-align: center
			width: 90%
			float: right 
			h2
				font-weight: 800
				margin-bottom: 10%
			a.btn
				width: 50%
				height: 7vh
				background-color: $mcbut
				font-size: 1.5rem
				text-transform: uppercase
				padding: 4% 0 3% 0
				color: $mc2
				margin-top: 15%
				font-weight: 700	
				border-radius: 0
			a:hover
				background-color:	#a3c644	
			